<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blackmail Django Project by Orange Bottles</title>
        <meta charset="utf-8">
            <link href="/static/css/bootstrap.css" rel="stylesheet">
                <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all">
                    <link rel="stylesheet" type="text/css" href="/static/timer/css/styles.css" />
                    
                    <script src="/static/timer/jquery.min.js"></script>
    </head>
    <body>
        <div class="body1">
            <div class="main">
                <!-- header -->
                <header>
                    <div class="wrapper">
                        <h2>Blackmail Django Project</h2>
                        <h3>Orange Bottles Group</h3>
                        <nav>
                            <ul id="menu">
                                <li {% block homeactive %}{% endblock %}><a href="/secrets/">Home</a></li>
                                <li {% block createactive %}{% endblock %}><a href="/secrets/create">Create</a></li>
                                {% if curuser %}
                                <li {% block editaccountactive %}{% endblock %}><a href="/secrets/editaccount">Edit account</a></li>
                                <li ><a href="/secrets/signout">Sign out</a></li>
                                {% else %}
                                <li {% block signinactive %}{% endblock %}><a href="/secrets/signin">Sign In</a></li>
                                <li {% block signupactive %}{% endblock %}><a href="/secrets/signup">Sign up</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                        </div
                        </header>
                        <!-- header end-->
                    </div>
                    </div>
            <div class="body3">
                <div class="main">
                    <!-- content -->
                    <article id="content">
                        <div class="wrapper">
                            {% block container %}
                            {% endblock container %}
                        </div>
                        </div>
            </div>
            <div class="main">
                <!-- footer -->
                <footer>
                    Created by Orange Bottles
                </footer>
                <!-- footer end -->
            </div>
            
            <script src="/static/js/jquery.js"></script>
            <script src="/static/js/bootstrap-transition.js"></script>
            <script src="/static/js/bootstrap-alert.js"></script>
            <script src="/static/js/bootstrap-modal.js"></script>
            <script src="/static/js/bootstrap-dropdown.js"></script>
            <script src="/static/js/bootstrap-scrollspy.js"></script>
            <script src="/static/js/bootstrap-tab.js"></script>
            <script src="/static/js/bootstrap-tooltip.js"></script>
            <script src="/static/js/bootstrap-popover.js"></script>
            <script src="/static/js/bootstrap-button.js"></script>
            <script src="/static/js/bootstrap-collapse.js"></script>
            <script src="/static/js/bootstrap-carousel.js"></script>
            <script src="/static/js/bootstrap-typeahead.js"></script>
    </body>
</html>
