{% extends "secrets/base.html" %}

{% block createactive %}
class=active
{% endblock %}

{% block container %}

<form class="form-signin" enctype="multipart/form-data" action="." method="post">{% csrf_token %}
    <div class="wrapper">
        <h1 style="padding-bottom: 20px"> Create a New Blackmail </h1>
    </div>
    <div style="padding-bottom: 25px">
        {{ form.target.errors }}
        <label for="id_newTarget">Enter Your Target's Email Address:</label>
       {{ form.target }}
    </div>
    <div style="padding-bottom: 25px">
        {{ form.tname.errors }}
        <label for="id_newTarget">Enter Your Target's Name:</label>
       {{ form.tname }}
    </div>
    <div style="padding-bottom: 25px">
        {{ form.picture.errors }}
        <label for="id_picture">Choose the Picture:</label>
        {{ form.picture }}
    </div>
    <div style="padding-bottom: 25px">
        {{ form.deadline.errors }}
        <label for="id_deadline">Enter the Deadline (MM/DD/YYYY HH:MM):</label>
        {{ form.deadline }}
    </div>
    <div style="padding-bottom: 25px">
        {{ form.demands.errors }}
        <label for="id_demands">Enter the List of Demands:</label>
    </div>
    <div>
        <label for="id_term1"> (required)</label>
        {{ form.term1.errors }}
        {{ form.term1 }}
    </div>
    <div>
        {{ form.term2.errors }}
        {{ form.term2 }}
    </div>
    <div>
        {{ form.term3.errors }}
        {{ form.term3 }}
    </div>
    <p style="padding-top: 30px"><button class="btn btn-large btn-primary" type="submit" value="Create Blackmail"> Create Blackmail </button></p>
</form>

{% endblock %}
