<!DOCTYPE html>
<html lang="en">
<!-- How do I check here to see if the user is logged in, before displaying the form?
    in views.py beform you render the template-->
<form enctype="multipart/form-data" action="." method="post">{% csrf_token %}
    <div>
        {{ form.target.errors }}
        <label for="id_newTarget">Enter Your Target's Email Address:</label>
       {{ form.target }}
    </div>
    <div>
        {{ form.picture.errors }}
        <label for="id_picture">Choose the Picture:</label>
        {{ form.picture }}
    </div>
    <div>
        {{ form.deadline.errors }}
        <label for="id_deadline">Enter the Deadline (MM/DD/YYYY HH:MM):</label>
        {{ form.deadline }}
    </div>
    <div>
        {{ form.demands.errors }}
        <label for="id_demands">Enter the List of Demands:</label>
    </div>
    <div>
        {{ form.term1.errors }}
        {{ form.term1 }}
        <label for="id_term1"> (required)</label>
    </div>
    <div>
        {{ form.term2.errors }}
        {{ form.term2 }}
    </div>
    <div>
        {{ form.term3.errors }}
        {{ form.term3 }}
    </div>
    <p><input type="submit" value="Create Blackmail" /></p>
</form>
</html>
