{% extends "secrets/base.html" %}

{% block signupactive %}
class=active
{% endblock %}

{% block container %}

<div class="container">

  <form class="form-signin" action="." method="post">
    {% if formhaserrors %}
        <ul>
            <li><strong>{{ strError }}</strong></li>
        </ul>
    {% endif %}
    <h2 class="form-signin-heading">Enter your information</h2>
    {% csrf_token %}{{ form }}
    <button class="btn btn-large btn-primary" type="submit" value="Submit">Create Account</button>
  </form>

</div> <!-- /container -->
{% endblock %}
