<!DOCTYPE html>
<html lang="en">
<!-- How do I check here to see if the user is logged in, before displaying the form? -->
<form enctype="multipart/form-data" action="." method="post">{% csrf_token %}
    <div>
        {{ form.target.errors }}
        <label for="id_newTarget">Enter Your Target's Email Address:</label>
       {{ form.target }}
    </div>
    <div>
        <!-- TODO: Fix error... picture upload not working -->
        {{ form.picture.errors }}
        <label for="id_picture">Choose the Picture:</label>
        {{ form.picture }}
    </div>
    <div>
        {{ form.deadline.errors }}
        <label for="id_deadline">Enter the Deadline (MM/DD/YYYY HH:MM):</label>
        {{ form.deadline }}
    </div>
    <div>
        {{ form.demands.errors }}
        <label for="id_demands">Enter the List of Demands:</label>
        {{ form.demands }}
    </div>
    <p><input type="submit" value="Create Blackmail" /></p>
</form>
</html>
