{% extends "secrets/base.html" %}

{% block container %}
<div class="container">
    <img src="/static/{{ imgpath }}" alt"the bad image" height="400" width="400" /></br>
    <p><label >target: </label> {{ bm.target }} </p> 
    <p><label >owner: </label> {{ bm.owner }} </p> 
    <p><label >deadline: </label>{{ bm.deadline }} </p>
    <label >Demands </label>
    <ul>
        {% for term in terms %}
        <li>{{ term.demand }}</li>
        {% endfor %}
    </ul>
    {% if allowedit %}
    <a href="/secrets/edit/{{ bm.pk }}/">Edit this Blackmail item</a>
    {% endif %}
</div>
{% endblock %}
