<!DOCTYPE html>
<html lang="en">
<form enctype="multipart/form-data" action="." method="post">{% csrf_token %}
    <div>
        {{ form.target.errors }}
        <label for="id_newTarget">Edit Your Target's Email Address:</label>
       {{ form.target }}
    </div>
    <div>
        <!-- TODO: Fix error... picture upload not working -->
        {{ form.picture.errors }}
        <label for="id_picture">Edit the Picture:</label>
        {{ form.picture }}
    </div>
    <div>
        {{ form.deadline.errors }}
        <label for="id_deadline">Edit the Deadline (MM/DD/YYYY HH:MM):</label>
        {{ form.deadline }}
    </div>
    <div>
        {{ form.demands.errors }}
        <label for="id_demands">Edit the List of Demands:</label>
        {{ form.demands }}
    </div>
    <p><input type="submit" value="Update Blackmail" /></p>
</html>
