{% extends "secrets/base.html" %}

{% block container %}

<form enctype="multipart/form-data" action="." method="post">{% csrf_token %}
    <img src="/static/{{ imgpath }}" alt"the bad image" height="400" width="400" /></br>
    <div>
        <!-- Only display the target's info--don't allow this part to be edited. -->
        {{ form.target.errors }}
        <label for="id_newTarget">Target:</label>
       {{ bm.target }}
    </div>
    <div>
        {{ form.picture.errors }}
        <label for="id_picture">Choose a different Picture:</label>
        {{ form.picture }}
    </div>
    <div>
        {{ form.deadline.errors }}
        <label for="id_deadline">Enter the Deadline (MM/DD/YYYY HH:MM):</label>
        {{ form.deadline }}
    </div>
    <div>
        {{ form.demands.errors }}
        <label for="id_demands">Enter the List of Demands:</label>
    </div>
    <div>
        {{ form.term1.errors }}
        {{ form.term1 }}
        <label for="id_term1"> (required)</label>
    </div>
    <div>
        {{ form.term2.errors }}
        {{ form.term2 }}
    </div>
    <div>
        {{ form.term3.errors }}
        {{ form.term3 }}
    </div>
    <p><input type="submit" name="update" value="Update Blackmail" /></p>
    <p><input type="submit" name="delete" value="Delete Blackmail" /></p>
</form>

{% endblock %}
