<!DOCTYPE html>
<html lang="en">
<form enctype="multipart/form-data" action="." method="post">{% csrf_token %}
    <div>
        <!-- Only display the target's info--don't allow this part to be edited. -->
        {{ form.target.errors }}
        <label for="id_newTarget">Target:</label>
       {{ bm.target }}
    </div>
    <div>
        {{ form.picture.errors }}
        <label for="id_picture">Choose the Picture:</label>
        {{ form.picture }}
    </div>
    <div>
        {{ form.deadline.errors }}
        <label for="id_deadline">Enter the Deadline (MM/DD/YYYY HH:MM):</label>
        {{ form.deadline }}
    </div>
    <div>
        {{ form.demands.errors }}
        <label for="id_demands">Enter the List of Demands:</label>
    </div>
    <div>
        {{ form.term1.errors }}
        {{ form.term1 }}
        <label for="id_term1"> (required)</label>
    </div>
    <div>
        {{ form.term2.errors }}
        {{ form.term2 }}
    </div>
    <div>
        {{ form.term3.errors }}
        {{ form.term3 }}
    </div>
    <p><input type="submit" value="Create Blackmail" /></p>
</form>
</html>
