{% extends "secrets/base.html" %}

{% block homeactive %}
class=active
{% endblock %}

{% block container %}

{% if totalseconds %}
<div class="container">
    <div class="special centercontents">
        <div id="counter">
            <div id="shading">&nbsp;</div>
        </div>
        
        <script type="text/javascript" src="/static/timer/C3counter.js"></script>
        <script type="text/javascript">
            // Default options
            C3Counter("counter", { startTime : {{ totalseconds }} });
            </script>
    </div>
</div>
{% endif %}

<div class="container">
    {% for bm in display_list %}
    <div class="centercontents" >
        <a href="/secrets/details/{{ bm.pk }}/"><img src="/static/{{ bm.imgfile }}" alt"the bad image" height="400" width="400" /></a></br>
        <label >Blackmail target: </label> {{ bm.target }} </br></br>
    </div>
    {% endfor %}
    
</div>
{% endblock %}
