{% extends "secrets/base.html" %}

{% block homeactive %}
class=active
{% endblock %}

{% block container %}

<!--
{% if totalseconds %}
<div class="container">
    <div class="special centercontents">        
            <p style="color: black; margin-top: 35px; font-size: 32px; font-weight: bold"> Next Blackmail Will Be Revealed In: </p>
            <div id="counter"></div>
            <p>DAYS --- HRS --- MIN --- SECS</p>
    </div>
</div>
{% endif %}

<div class="container">
    {% for bm in display_list %}
    <div class="centercontents" >
        <a href="/secrets/details/{{ bm.pk }}/"><img src="/static/{{ bm.imgfile }}" alt"the bad image" height="400" width="400" /></a></br>
        <label >Blackmail target: </label> {{ bm.target }} </br></br>
    </div>
    {% endfor %}    
</div>
-->

<h3 style="float:none; margin:0; padding:10px 0px;">Recently Released</h3>
<table>
    <tr><th>Victim</th><th>Perpitrator</th><th>Date Created</th><th>Deadline</th><th>Image</th></tr>
    {% for display in display_list %}
        <tr><td>{{ display.target }}</td><td>{{ display.owner }}</td><td>{{ display.timecreated }}</td><td>{{ display.deadline }}</td><td><a href="/secrets/details/{{ display.pk }}/"><img src="/static/{{ display.imgfile }}" alt="The Blackmail Image" height="50" width="50" /></a></tr>    
    {% endfor %}
</table>
<h3 style="float:none; margin:0; padding:10px 0px;">Next 3 to be released</h3>
<table style="margin-bottom:10px;">
    <tr><th>Victim</th><th>Perpitrator</th><th>Date Created</th><th>Deadline</th></tr>
    {% for display in dont_display %}      
        <tr><td>{{ display.target }}<td>{{ display.owner }}<td>{{ display.timecreated }}<td>{{ display.deadline }}</tr>    
    {% endfor %}
</table>

{% endblock %}
