{% extends "secrets/base.html" %}

{% block homeactive %}
class=active
{% endblock %}

{% block container %}

{% if totalseconds %}
<div class="container">
    <div class="special centercontents">        
            <p style="color: black; margin-top: 35px; font-size: 32px; font-weight: bold"> Next Blackmail Will Be Revealed In: </p>
            <div id="counter"></div>
            <p>DAYS --- HRS --- MIN --- SECS</p>
    </div>
</div>
{% endif %}

<div class="container">
    {% for bm in display_list %}
    <div class="centercontents" >
        <a href="/secrets/details/{{ bm.pk }}/"><img src="/static/{{ bm.imgfile }}" alt"the bad image" height="400" width="400" /></a></br>
        <label >Blackmail target: </label> {{ bm.target }} </br></br>
    </div>
    {% endfor %}
    
</div>
{% endblock %}
