{% extends "secrets/base.html" %}

{% block myaccountactive %}
class=active
{% endblock %}

{% block container %}

    <div class="container">

      <p> {{ p.name }} </p>
      <p> {{ p.email }}</p>
      
      <p> My Blackmails </p>
        <ul>
          {% for bm in bm_list %}
            <li><a href='/secrets/details/{{ bm.pk }}/'>{{ bm.target }}</a></li>
          {% endfor %}
        </ul>
        
        <a href='/secrets/editaccount/'>Edit account info</a>
    </div> <!-- /container -->

{% endblock %}
