{% extends "secrets/base.html" %}

{% block signinactive %}
class=active
{% endblock %}

{% block container %}

    <div class="container">

      <form class="form-signin" action="." method="post">
        {% if formhaserrors %}
            <ul>
                <li><strong>Invalid Login info</strong></li>
            </ul>
        {% endif %}
        <h1>Please sign in</h1>
        <br/><br/><br/>
        {% csrf_token %}{{ form }}
        <button class="btn btn-large btn-primary" type="submit" value="Submit">Sign in</button>
      </form>

    </div> <!-- /container -->

{% endblock %}
