*{margin:0;padding:0;}
#container {}
#footer {position: relative; height: 70px;clear:both;} 
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
* html .clearfix { height: 1%;}
.clearfix {display: block;}
body{background:#2a2b2d;font:13px/1.3 'Microsoft Yahei','宋体';color:#999;}
#page,#footer_inner{margin:0 auto;width:960px;}
h1#logo{overflow:hidden;height:93px;padding: 25px 0;}
h1#logo a{display:block;height:93px;}
#container{margin:0 auto;padding:40px 0 0;}
#container h2 {font-weight:normal;line-height:28px;}
#container p{padding:10px 0;}
.credit{text-align:center;padding: 20px 0 100px;font-size:10px;}
a, a:visited {text-decoration:none;outline:none;color:#97cae6;}
a:hover{text-decoration:underline;}
#footer{background-color:#212121;width:100%;}
#footer h2{font-size:18px;font-weight:normal;height:70px;line-height:70px;font-family:"Microsoft Yahei";color:#eee;}
#footer_inner{position:relative;}
#footer a.tzine,a.tzine:visited{color:#FCFCFC;font-size:12px;line-height:70px;position:absolute;top:0;right:0;width:90px;}

/*-核心代码-*/
/* demo style */
.special {
	position:relative;
	float:left;
	width:840px;
	height:247px;
	background-image: url(../images/bg.png);
    background-position: 0px 74px;
    background-repeat: no-repeat;
	margin-bottom:46px;
	cursor:pointer;
	
}
#counter {
	position:absolute;
	top:135px;
	left:279px;
	z-index:4000;
}

.digit-separator {position: relative; float: left; width: 17px; height: 44px; overflow: hidden; background-image: url(../images/digit_separator.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.digit {
	background-image:url(../images/digits.png)
}

#shading {
	background-image: url(../images/sprites.png);
	background-position: 0px -396px;
	background-repeat: repeat-x;
	float: left;
	height: 44px;
	position: absolute;
	width: 291px;	
	z-index:4100;
	top:0;
	left:0;
}